<form method="post" action="/login">	
	<div>
		<label for="">Username</label>
		<input type="text" name="username" placeholder="Username">
	</div>	
	<div>
		<label for="">Password</label>
		<input type="password" name="password" placeholder="Password">
	</div>
	<button type="submit">Login</button>
	<br>
	Don't Have An Account? <a href="/register">Register Now</a>
</form>