<form method="post" action="/register">
	<div>
		<label for="">Name</label>
		<input type="text" name="name" placeholder="Name">
	</div>
	<div>
		<label for="">Username</label>
		<input type="text" name="username" placeholder="Username">
	</div>
	<div>
		<label for="">Email</label>
		<input type="email" name="email" placeholder="Email">
	</div>
	<div>
		<label for="">Password</label>
		<input type="password" name="password" placeholder="Password">
	</div>
	<div>
		<label for="">Confirm Password</label>
		<input type="password" name="password2" placeholder="Confirm Password">
	</div>
	<button type="submit">Register</button>
	<br>
	Have an Account? <a href="/login">Login Now</a>
</form>